* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    width: 390px; /* Фиксированная ширина */
    overflow-y: scroll; /* Позволяет прокручивать содержимое, если оно выходит за рамки */
    margin: 0 auto;
}

.search input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.announcement-banner {
    width: 360px;
    height: 190px;
    background: linear-gradient(90deg, #3cb44b, #f58231, #42d4f4);
    color: white;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    border-radius: 5px;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.carousel-image {
    min-width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-image.active {
    opacity: 1;
}

.carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 10px;
}

.carousel-controls .prev, .carousel-controls .next {
    color: white;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}


.product {
    width: 360px;
    height: 270px;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.product img {
    width: 324px;
    height: 203px;
    border-radius: 5px;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

.category-buttons button {
    flex: 1 1 23%; /* Вместо 45% устанавливаем 23%, чтобы кнопки размещались в 4 колонки */
    padding: 5px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 2px;
}

.category-buttons button:hover {
    background-color: #005bb5;
}


.faq-item {
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    margin: 5px 10px;
    border-radius: 5px;
}

.answer {
    font-size: 0.9em;
    color: #555;
}

.service-info ol {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.service-info ol li {
    padding: 20px 0;
    position: relative;
}

.service-info ol li::before {
    content: '';
    position: absolute;
    left: -20px; /* Отступ слева от текста */
    top: 23%; /* Выравнивание точки по верхней части заголовка */
    width: 15px; /* Диаметр точки */
    height: 15px;
    border-radius: 50%; /* Круглая форма */
    background-color: #007aff; /* Цвет точки */
}

.service-info ol li h3 {
    margin: 0;
    font-weight: 600; /* Более жирный шрифт для заголовка */
    font-size: 1.1em;
}

.service-info ol li p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
}

.service-info ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    left: -14px; /* Отступ для линии */
    top: 35px; /* Отступ сверху от точки */
    width: 3px; /* Ширина линии */
    height: calc(100% - 15px); /* Высота линии между точками */
    background-color: #007aff; /* Цвет линии */
}


.footer {
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.submit-btn {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 100px;
    font-size: 1em;
    border-radius: 12px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #005bb5;
}
